.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex {
      padding: 0 15px; /* Añade espacio lateral para dispositivos más pequeños */
    }
  
    .registration-section {
      margin-bottom: 20px;
    }
  }
  
  .img-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ion-button {
    --background: #F82C2C;
    color: #020202;
    width: 100%;
  }
  
  ion-item {
    --margin: 15px 0;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
    border-radius: 10px;
  }
  
  .margin {
    margin: 15px;
  }
  
  .forgot {
    margin-top: 20px;
  }
  
  .footer {
    span {
      color: #F82C2C;
      font-weight: 700;
    }
  }
  
  .error-message {
    color: red;
  }
  